/* Стилі для обнулення верхніх відступів у елементів */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Клас для обнулення базових властивостей списків (ul) */
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Клас для обнулення базових властивостей у посилань */
a {
  text-decoration: none;
}

/* Властивості для коректного відображення картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Властивості для обнулення курсиву address */

address {
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  color: #2c2c2c;
  background: var(--White, #fefefe);
}

.container {
  width: 1280px;
  padding: 0 16px;
  margin: 0 auto;
}

.favorites-food {
  background: var(--White, #FEFEFE);
}

.favorites-food-title {
  color: var(--Black, #2C2C2C);
    text-align: center;
    font-family: Roboto;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.favorites-food-paragraph {
  color: var(--Black, #2C2C2C);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.food-list {
  display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.food-list-item {
  border-radius: 197px;
    border: 16px solid var(--Yellow-main, #FFE550);
    background: var(--White, #FEFEFE);
}