/* Стилі для обнулення верхніх відступів у елементів */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Клас для обнулення базових властивостей списків (ul) */
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Клас для обнулення базових властивостей у посилань */
a {
  text-decoration: none;
}

/* Властивості для коректного відображення картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Властивості для обнулення курсиву address */

address {
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  color: #2c2c2c;
  background: var(--White, #fefefe);
}

.container {
  width: 1280px;
  padding: 0 16px;
  margin: 0 auto;
}

.fifth-section {
  padding-top: 222px;
  padding-bottom: 201px;
}

.fifth-section-title {
  font-size: 42px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
}

.fifth-section-text {
  max-width: 532px;
  margin-bottom: 24px;
}

.email-form {
  border-radius: 30px;
  border: 0.854px solid #FFE550;
  padding: 12px 57px 12px 12px;
  color: #505050;
  font-size: 12px;
  width: 395px;
}

.subscribe-button {
  width: 103px;
  height: 42px;
  background-color: #BBF330;
  border: none;
  border-radius: 30px;
  font-size: 13px;
  text-align: center;
}

.subscribe-form {
  display: flex;
  gap: 32px;
}

.fifth-section {
  display: flex;
  align-items: center;
}